*
{
  margin: 0;
  padding: 0;
}
body{
  background-color: #f1f3f4;
  font-family: sans-serif; 
  background-position: center;
  }
.top-nav-bar{
  height: 57px;
  top: 0;
  position: sticky;
  background: #fff;
  margin-bottom: 20px;
  border-bottom: 3px solid #006991;
  z-index: 2;

}
.logo{
  height: 45px;
  margin: 5px 10px;

}
.form-box{
  width: 500px;
  background: #3095B7;
  margin: 12% auto;
  padding: 50px 0; 
  color: #fff;

}
h1{
  text-align: center;
  margin-bottom: 40px;
}
.input-box{
  margin: 31px auto;
  width: 80%;
  border-bottom: 1px solid #fff;
  padding-top: 10px;
  padding-bottom: 5px;

}
.input-box input{
  width: 90%;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;


}
::placeholder{
  color: #fff;
  font-size: 16px;
}
.fa{
  margin-right: 10px;
}
.eye{
  position: absolute;
}
#hide1{
  display: none;
}
.login-btn{
  margin: 40px auto 20px;
  width: 80%;
  display: block;
  outline: none;
  padding: 10px 0;
  border: 1px solid #fff;
  cursor: pointer;
  background: transparent;
  color: #fff;
  font-size: 16px;

}
.form-control{
  margin-top: 9px;
  margin-left: 40px;
  border: 1px solid #006991 !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  box-shadow: none !important;

}


.input-group-text{
  background: #00ADEF !important;
  border: 1px solid #006991 !important;
  margin: 8.5px 10px 3px 0 !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  cursor: pointer;
  height: 38px;

}
.search-box{
  display: inline-flex;
  width: 66%;

  margin-left: 25px;
}
.fa-search{
  color: #fff;
}
.menu-bar{
  width: 32%;
  height: 57px;
  float: right;

}
.menu-bar ul{
  display: inline-flex;
  float: right;

}
.menu-bar ul li{
  border-left: 1px solid #fff;
  list-style-type: none;
  padding: 15px 35px;
  text-align: center; 
  background-color: #006991;
  cursor: pointer;
}
.menu-bar ul li a{
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;

}
.fa-shopping-basket{
  margin-right: 5px;
}
@media only screen and (max-width: 980px){
  .top-nav-bar{
    height: 118px;
    border-bottom: 0;
  }
  .search-box{
    width: 100%;
  }
  .menu-bar{
    width: 100%;
  }
  .menu-bar ul{
    margin: 10px 0;
    width: 100%;
  }
  .menu-bar ul li{
    height: 57px;
    width: 100%;
  }
}

/*-------------side-menu-----------------*/
.side-menu{
  height:  545px;
  width: 15%;
  font-size: 14px;
  float: left;
  z-index: 2;
  background-color: #ddd;


}
.side-menu ul{
  margin-left: 10px;

  
}
.side-menu ul li{
  list-style-type: none;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;

}
.side-menu ul li:hover{
  color: #006991;
}
.side-menu ul li ul{
  display: none;
  z-index: 10;
  top: 77px;
}
.side-menu ul li:hover ul{
  display: block;
  height: 400px;
  margin-left: 14%;
  padding: 0 100px 10px 10px;
  position: fixed;
  background: #ececec;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);

}
.carousel-inner{ 
  height: 551px; 
}
.fa-angle-right{
  margin-top: 4px;
  margin-right: 8px;
  float: right;
}
#menu-btn,#close-btn{
  font-size: 30px;
  margin: 10px;
  color: #006991;
  display: none;

}
@media only screen and (max-width: 980px){
  .side-menu{
    width: 34%;
    z-index: 20;
    top: 133px;
    position: fixed;
    font-size: 12px;
    display: none;
  }
  .side-menu ul li ul{
    top: 133px;
  }
  .side-menu ul li:hover ul{
    margin-left: 31%; 
  }
  #menu-btn{
    display: block;
  }
}
/*---------------slider CSS------------*/
.slider{
  width: 85%;
  margin-left: 15%;
  padding: 0 10px;
  height: 551px !important;

}
.carousel{
  /*box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);*/

  /*! height: 450px !important; */
}
.carousel-indicators{
  z-index: 1 !important;
}
@media only screen and (max-width: 980px)
{
  .slider{
    width: 100%;
    margin-left: 0;
  }
}
/*----------featured-categories css--------*/
.featured-categories{
  margin: 50px 0;

}
.featured-categories img{
  width: 50%;
  padding: 10px 0;
  transition: 1s;
  cursor: pointer;
}
.featured-categories img:hover{
  transform: scale(1.1);

}
/*---------novel-----------*/
.novel{
  margin-top: 30px;
  margin: 50px 0;

}
.title-box{
  background: #006991;
  color: #fff;
  width: 180px;
  padding: 4px 10px;
  height: 40px;
  margin-bottom: 30px;
  display: flex;

}
.title-box h2{
  font-size: 24px;
}
.title-box::after{
  content: '';
  border-top: 40px solid #006991;
  border-right: 50px solid transparent;
  position: absolute;
  display: flex;
  margin-top: -4px;
  margin-left: 170px;

}
/*--------------------product-top----*/
.product-top img{
  width: 75%;

}
.overlay-right{
  display: block;
  opacity: 0;
  position: absolute;
  top: 10%;
  margin-left: 0;
  width: 70px;

}
.overlay-right .fa{
  cursor: pointer;
  background-color: #fff;
  color: #000;
  height: 35px;
  width: 35px;
  font-size: 20px;
  padding: 7px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.overlay-right .btn-secondary{
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.product-top:hover .overlay-right{
  opacity: 1;
  margin-left: 5%;
  transition: 0.5s;
}
.product-bottom
{
  margin-right: 65px;
}
.product-bottom .fa{
  color: #006991;
  font-size: 10px;
}
.product-bottom h3{
  font-size: 20px;
  font-weight: bold;
}
.product-bottom h5{
  font-size: 15px;
  padding-bottom: 10px;
}
.footer-nav{
  color: #fff;
  background: url(images/blue2-1686530_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
    height:50vh;  
}
.col-lg-4 h6{
  font-size: 19px;
}
.col-lg-2 h6{
  font-size: 19px;
}
.col-lg-3 h6{
  font-size: 19px;
}

.list-icon {
list-style: none;
padding-left: 0;
font-size: 19px;
}
.list-icon li{
margin-bottom: 10px;
    margin-left: 20px;
}
.list-icon i{
font-size: 25px;
    margin-right: 14px;
    margin-left: -20px;
}
.post-thumbnil-content a{
  color: black;
}